@model FinalAssignment.Models.Consults

<script type="text/javascript">
    $(function () {
       $('.datepicker').datepicker();
    });
</script>

<h2>Create new Assignment</h2>
<span
	asp-for="ViewBag.Error"
	class="text-danger"></span>
<form
	asp-controller="Agenda"
	asp-action="Create"
	method="post">
    <div
        class="form-group">
        <label
            asp-for="Title"
            class="control-label">
        </label>
        <input
            asp-for="Title"
            class="form-control"/>
        <span asp-validation-for="Title"
            class="text-danger"></span>
    </div>
	<div
        class="form-group">
        <label
            asp-for="Description"
            class="control-label">
        </label>
        <input
            asp-for="Description"
            class="form-control"/>
        <span asp-validation-for="Description"
            class="text-danger"></span>
    </div>
	@{if (ViewBag.UserRole == "Medic") {
	    <div
	        class="form-group">
	         <label
	            asp-for="Medic"
	            class="control-label">
	        </label>
	        <div
	            class="dropdown">
	        @Html.DropDownListFor(model => model.Medic, ViewBag.MedicsList as List<SelectListItem>, new { @class = "dropdown" })
	        </div>
	    </div>
	}
	else {
	    <div
	        class="form-group">
	         <label
	            asp-for="Medic"
	            class="control-label">
	        </label>
	        <div
	            class="dropdown">
	        @Html.DropDownListFor(model => model.Patient, ViewBag.PatientsList as List<SelectListItem>, new { @class = "dropdown" })
	        </div>
	    </div>
	}}
	<div
        class="form-group">
        <label
            asp-for="Date"
            class="control-label">
        </label>
        <div
            class="datepicker">
            @Html.EditorFor(model => model.Date, new { @class = "form-control datepicker" })
        </div>
        <span asp-validation-for="Date"
            class="text-danger"></span>
    </div>
	<div
        class="form-group">
        <label
            asp-for="Duration"
            class="control-label">
        </label>
        <input
            asp-for="Duration"
            class="form-control"/>
        <span asp-validation-for="Duration"
            class="text-danger"></span>
    </div>
	<div
        class="form-group">
         <label
            asp-for="Medic"
            class="control-label">
        </label>
        <div
            class="dropdown">
        @Html.DropDownListFor(model => model.Classification, ViewBag.ClassificationList as List<SelectListItem>, new { @class = "dropdown" })
        </div>
    </div>
	<div
        class="form-group">
        <input type="submit" class="btn btn-primary" value="Create" />
    </div>
</form>