<div
	class="">
    <table>
		<thead>
		    <tr><th>Sun</th></tr>
			<tr><th>Mon</th></tr>
			<tr><th>Tue</th></tr>
			<tr><th>Wed</th></tr>
			<tr><th>Thu</th></tr>
			<tr><th>Fri</th></tr>
			<tr><th>Sat</th></tr>
		</thead>
	</table>
</div>